	/*********************************************
	 ** Stylesheet file for default Flux theme. **
	 *********************************************/

.loginbox-admin-menu {
	padding-top: 5px;
	color: #94b4d5;
}

body {
	margin: 0 0 20px 0;
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 9pt;
	color: #000;
	background-color: #fff;
}

table {
	font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 9pt;
}

tr, td, th {
	vertical-align: top;
}

.horizontal-table tr, .vertical-table tr, .generic-form-table tr,
.horizontal-table td, .vertical-table td, .generic-form-table td {
	vertical-align: middle;
}

.horizontal-table th, .vertical-table th, .generic-form-table th {
	vertical-align: top;
}

h2 {
	color: #444;
	letter-spacing: -1px;
}

h3 {
	/*font-style: italic;*/
	font-weight: normal;
	font-size: 120%;
	color: #444;
	border-bottom: 1px dotted #ddd;
	text-transform: uppercase;
}

h3:first-letter {
	font-weight: bold;
}

p {
	margin: 4px 0 8px 0;
	padding: 0;
}

a img {
	border: 0;
}

a {
	color: #4083c6;
	text-decoration: none;
}

input[type=text], input[type=password], input[type=file], textarea {
	font-family: "Lucida Grande", "Lucida Sans", Verdana, Tahoma, sans-serif;
	padding: 4px;
	font-size: 10pt;
	color: #444;
	border: 1px solid #ddd;
	outline-width: 0;
}

.input_fill input, .input_fill select, .input_fill textarea {
	width: -webkit-fill-available;
}

label:hover {
	cursor: pointer;
}

/*input[type=text]:hover, input[type=password]:hover, textarea:hover {
	color: #46a;
	background-color: #dee;
	border: 1px solid #8ac;
}*/

#header_bg {
	background: #8ebceb;	
	background: linear-gradient(to bottom, #cde6ff, #8ebceb, #749fcc);
	border-bottom: double 3px #fff;
}
#logo {
	width: 216px;
	height: 144px;
	opacity: 0.9;
	filter: drop-shadow(-5px 10px 3px rgba(0,0,0,0.3));
}
#MainTitle {
    position: absolute;
    font-weight: bold;
    margin-top: -36px;
	padding-left: 10px;
    color: white;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
#MainTitle servername {
    font-size: 36px;
    vertical-align: middle;
	text-shadow: -2px 0px 1px rgba(0, 0, 0, 0.2);
}
#MainTitle pagetitle {
	padding-left: 10px;
    font-size: 22px;
	text-shadow: -4px 4px 1px rgba(0, 0, 0, 0.1);
}

.module-name {
	font-weight: bold;
	font-size: 12pt;
}

.message {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	background-color: #333;
}

.notice {
	display: block;
	padding: 10px;
	font-weight: normal;
	font-size: 120%;
	color: #204a87;
	background-color: #F0FFFF;
	border: 1px solid #87CEEB;
}

.center {
	text-align: center;
}

#admin_sidebar {
	width: 178px;
	background-color: #8b8b8b;
    padding: 10px;
    border-radius: 10px;
	margin-bottom: 10px;
}
#admin_sidebar .admin_sidebar_box {
	background-color: #303030;
    border-radius: 10px;
    padding: 0 0 10px 0;
}

#admin_sidebar .admin_sidebar_box .menuitem1, #admin_sidebar .admin_sidebar_box .menuitem2 {
	font-size: 10pt;
}

#admin_sidebar .menuitem1  {
	margin: 0 12px;
    padding: 10px 0 2px 0;
    font-size: 100%;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #c4d9ee;
}

#admin_sidebar .menuitem1 strong {
	padding: 10px 0 2px 0;
	font-size: 100%;
	text-align: center;
	color: #fff;
	border-bottom: 1px solid #c4d9ee;
}

#admin_sidebar .menuitem2 {
    font-size: 10pt;
}

#admin_sidebar .menuitem2 a {
    display: block;
    padding: 2px 5px 4px 18px;
    color: #fff;
    text-align: left;
    text-shadow: rgb(0, 0, 0) 1pt 1pt;
    text-decoration: none;
}

#admin_sidebar .menuitem2 a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(74, 82, 89);
    text-shadow: rgb(74, 82, 89) 1pt 1pt;
}

#sidebar {
	width: 178px;
	background-color: #c4d9ee;
    padding: 7px;
    border-radius: 10px;
	border: double 3px #fff;
}
#sidebar .sidebar_box {
	background-color: #94b4d5;
    border-radius: 10px;
    padding: 0 0 10px 0;
	border: double 1px rgba(255, 255, 255, 0.7);
}

#sidebar .sidebar_box .menuitem1, #sidebar .sidebar_box .menuitem2 {
	font-size: 10pt;
}

#sidebar .menuitem1  {
	margin: 0 12px;
    padding: 10px 0 2px 0;
    font-size: 100%;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #c4d9ee;
}

#sidebar .menuitem1 strong {
	padding: 10px 0 2px 0;
	font-size: 100%;
	text-align: center;
	color: #fff;
	border-bottom: 1px solid #c4d9ee;
}

#sidebar .menuitem2 {
    font-size: 10pt;
}

#sidebar .menuitem2 a {
    display: block;
    padding: 2px 5px 4px 14px;
    color: #fff;
    text-align: left;
    text-shadow: #708fae 1pt 1pt;
    text-decoration: none;
}

#sidebar .menuitem2 a:hover {
	color: #fff;
	background-color: #708fae;
	text-shadow: #708fae 1pt 1pt;
}

.request, .fs-path {
	display: inline-block;
	padding: 2px;
	font-family: Monaco, "Lucida Console", "Bitsteam Vera Sans Mono", monospace;
	font-size: 8pt;
	background-color: #fff;
	border: 1px solid #eee;
}

.keyword {
	color: #ffba00;
	font-style: italic;
}

.red {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	background-color: #f00;
}

.green {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	background-color: #0c0;
}

.note {
	padding: 5px;
	color: #444;
	background-color: #eaeaea;
	font-style: italic;
}

.up {
	font-weight: bold;
	color: #0f0;
	text-transform: uppercase;
}

.down {
	color: #f00;
	text-transform: uppercase;
}

.submit_button {
	display: block;
	margin: 10px;
	padding: 5px;
	background-color: #eee;
	border: 1px solid #ccc;
}

.submit_button:hover {
	color: #fff;
	background-color: #333;
	border: 1px solid #111;
	cursor: pointer;
}

.install_table th, .install_table td {
	padding: 5px 10px;
	border: 1px solid #ddd;
}

.install_table th {
	background-color: #eef;
}

.install_table td {
	width: 180px;
	text-align: center;
}

.created {
	color: green;
	width: 80px;
}

.missing {
	color: red;
	width: 80px;
}

.pages {
	margin-top: 20px;
	padding-top: 10px;
	color: #ccc;
	text-align: center;
	border-top: 1px solid #ddd;
}

.pages .page-prev, .pages .page-next {
	color: #94b4d5;
}

.pages .page-num {
	padding: 0 5px;
}

.pages .current-page {
	color: #000000;
	font-weight: bold;
}

.horizontal-table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

.horizontal-table th {
	padding: 5px 10px;
	background-color: #eee;
}

.horizontal-table td {
	padding: 5px 10px;
	background-color: #fff;
}

.horizontal-table th, .horizontal-table td {
	font-size: 9pt;
	border: 1px solid #ddd;
}

.vertical-table {
	border-spacing: 0;
	border-collapse: collapse;	
}

.vertical-table th {
	padding: 5px 10px;
	background-color: #eee;
}

.vertical-table td {
	padding: 5px 12px;
	background-color: #fff;
}

.vertical-table th, .vertical-table td {
	font-size: 9pt;
	border: 1px solid #ddd;
}

.vertical-table label {
	display: block;
	padding: 5px;
}

.current-sub-menu {
	font-weight: bold;
}

.td-checkbox {
	text-align: center;
}

.td-action {
	color: #ccc;
	text-align: center;
}

.vertical-table .td-action {
	text-align: right;
}

.vertical-table form {
	margin: 0;
	padding: 0;
}

.not-applicable {
	font-style: italic;
	color: #bbb;
}

.state-pending {
	color: orange;
}

.state-banned {
	color: red;
}

.state-permanently-banned {
	font-weight: bold;
	color: red;
}

.raw-txn-log {
	padding: 10px;
	font-family: "Monaco", "Lucida Console", "Courier New", monospace;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 96%;
	overflow: scroll;
}

.online {
	color: #000;
}

.offline {
	color: #aaa;
}

.info-text-total {
	font-weight: bold;
}

.info-text-results {
	font-weight: bold;
}

.info-text {
	margin-bottom: 6px;
	padding: 5px;
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	text-align: center;
}

.toggler {
	font-weight: bold;
	font-style: italic;
}

.toggler a {
	color: #26a;
}

.search-form, search-form2 {
	display: none;
	margin: 0 0 10px 0;
	padding: 0;
	border-top: 1px solid #ddd;
}

.search-form p, .search-form2 p {
	margin: 0;
	padding: 5px;
	color: #aaa;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.search-form label, .search-form2 label {
	display: inline-block;
	margin: 0 0 3px 0;
	font-size: 8pt;
	font-style: italic;
	color: #222;
}

.search-form input[type=text], .search-form2 input[type=text] {
	display: inline-block;
	margin: 0 0 2px 0;
	padding: 2px;
	font-size: 8pt;
	width: 80px;
}

.search-form input[type=submit], .search-form2 input[type=submit] {
	display: inline-block;
	margin: 0 0 2px 0;
	font-size: 8pt;
	font-weight: bold;
}

.search-form input[type=button], .search-form input[type=reset],
.search-form2 input[type=button], .search-form2 input[type=reset] {
	display: inline-block;
	margin: 0 0 2px 0;
	font-size: 8pt;
}

.search-form input[type=checkbox], .search-form2 input[type=checkbox] {
	display: inline-block;
	margin: 0 0 2px 0;
}

.search-form select, .search-form2 select {
	display: inline-block;
	margin: 2px 0;
}

#submenu {
	color: #bbb;
}

#pagemenu {
	margin-top: 5px;
	padding: 5px 0;
	font-size: 8pt;
	color: #888;
	border-width: 1px 0;
	border-style: dotted;
	border-color: #ddd;
}

#pagemenu a {
	color: #777974;
	text-decoration: underline;
}

#pagemenu a:hover {
	color: #729fcf;
}

#loginbox {
	background-color: #e1eaf3;
    padding: 12px;
    border-radius: 10px;
	margin-bottom: 10px;
	border: double 3px #fff;
}

#content {
	background-color: #f5f5f5;
    padding: 12px;
	border: double 3px #fff;
    border-radius: 10px;
}

#register_form table td, #login_form table td {
	padding: 1px;
}

#register_form table th label, #login_form table th label {
	display: block;
	padding: 5px;
	text-align: center;
}

#register_form input[type=text], #register_form input[type=password], #login_form input[type=text], #login_form input[type=password] {
	width: 140px;
}

#register_form select, #login_form select {
	width: 147px;
}

#server_status th, #server_status td {
	padding: 8px 12px 8px 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;	
}

#server_status {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #fff;
	border: 1px solid #ddd;
}

#server_status .server {
	color: #222;
}

#server_status .status {
	text-align: center;
}

#copyright p {
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: italic;
	font-size: 8pt;
	color: #ccc;
	text-align: right;
}

#info p {
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: italic;
	font-size: 8pt;
	color: #aaa;
	text-align: right;
}

.sortable {
	color: #444;
	text-decoration: underline;
}

.sortable:hover {
	color: #000;
}

.character-stats {
	border-spacing: 0;
	border-collapse: collapse;
	color: #ccc;
}

.character-stats td {
	padding: 0px 10px 5px 0;
	border: 0;
	text-align: center;
}

.character-stats .stat-name {
	color: #666;
}

.character-stats .stat-value {
	color: #000;
}

.credit-balance {
	float: right;
	display: inline-block;
	padding: 10px;
	color: #000;
	background-color: #eee;
	border: 1px dotted #ddd;
}

.credit-balance .balance-text {
	display: inline-block;
	margin-right: 5px;
	color: #bbb;
	text-transform: uppercase;
}

.credit-balance .balance-amount {
	font-weight: bold;
}

.emblem-server {
	margin: 0 0 2px 0;
	padding: 0 0 2px 0;
	font-size: 120%;
	border-bottom: 1px solid #ddd;
}

.emblem-server label {
	display: block;
}

.emblem-server label:hover {
	cursor: pointer;
}

.block {
	display: block;
	width: 80%;
	height: 40px;
}

.script-line {
	font-family: Monaco, "Lucida Console", monospace;
}

.script-line-num {
	display: inline-block;
	margin: 0;
	padding: 5px;
	background-color: #eee;
	border-right: 1px solid #ddd;
}

.script-line-code {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

.shop-table {
	width: 100%;
	color: #000;
	border-spacing: 0 10px;
	border-collapse: separate;
}

.shop-table td {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.shop-item-image {
	width: 75px;
	height: 100px;
	text-align: center;
}

.shop-item-name {
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	font-size: 140%;
	color: #222;
	border-bottom: 1px solid #eee;
}

.shop-item-cost-qty {
	width: 150px;
	color: #aaa;
	text-align: center;
}

.cost {
	color: #000;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
}

.qty {
	color: #000;
}

.shop-item-action {
	color: #ddd;
}

.shop-item-action a {
	color: #80a2c8;
	border-bottom: 1px solid #eee;
}

.shop-item-action a:hover {
	border-bottom: 1px solid #80a2c8;
}

.short {
	width: 40px;
}

.shop-server-name {
	color: #333;
}

.shop-item-info {
	text-align: justify;
}

textarea {
	width: 320px;
	height: 120px;
}

.cart-items-text {
	margin: 0 0 5px 0;
	padding: 5px;
	color: #ddd;
	background-color: #888;
	border: 5px solid #777;
}

.cart-info-text {
	margin: 0 0 5px 0;
	padding: 0;
}

.cart-total-text {
	margin: 0;
	padding: 0;
}

.cart-item-name {
	color: #fff;
	border-bottom: 1px dotted #aaa;
}

.cart-item-count {
	font-size: 120%;
	font-weight: bold;
	color: #000;
}

.cart-sub-total {
	color: #000;
}

.cart {
	width: 100%;
}

.cart label {
	display: block;
}

.cart h4 {
	margin: 10px 0 2px 0;
	font-size: 140%;
}

.remove-from-cart {
	width: 100%;
	text-align: right;
}

.checkout-text {
	font-size: 120%;
	font-weight: bold;
}

.checkout-text a {
	border-bottom: 1px dotted #ccc;
}

.checkout-text a:hover {
	color: #000;
	border-bottom: 1px solid #aaa;
}

.enter-donation-amount {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 120%;
}

.donation-amount-text {
	margin: 0;
	padding: 0;
	font-size: 120%;
	text-align: center;
}

.credit-amount-text {
	font-size: 8pt;
	text-transform: uppercase;
	color: #bbb;
	text-align: center;
	letter-spacing: 1px;
}

.donation-amount {
	font-weight: bold;
	color: #000;
}

.credit-amount {
	color: #555;
}

.reset-amount-text {
	margin: 0;
	padding: 0;
	font-size: 8pt;
	text-align: center;
}

.checkout-info-text {
	margin: 0 0 5px 0;
	padding: 0;
}

.remaining-balance {
	color: #000;
}

.exchange-rate {
	font-size: 120%;
	font-weight: bold;
	color: #000;
}

.important {
	font-size: 120%;
	color: #000;
}

.important .server-name {
	font-weight: bold;
}

.generic-form {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: auto;
}

.generic-form-div {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: auto;
}
.generic-form-table th label {
	display: block;
	padding: 6px;
}

.generic-form-table td div {
	display: block;
	padding: 6px 0;
}

.generic-form-table th {
	text-align: right;
}

.generic-form-table td input[type=checkbox] {
	display: inline-block;
	margin-top: 6px;
}

.generic-form-table td p {
	margin: 6px 5px;
	color: #000;
}

.security-code {
	margin: 5px 0;
	text-align: left;
	width: 145px;
	height: 50px;
}

.action {
	color: #ddd;
}

.action a, .action span.anchor {
	color: #80a2c8;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}

.block-link {
	display: block;
	padding: 3px;
	color: #80a2c8;
	border-bottom: 1px solid #eee;
}

.button-action {
	padding: 5px 0;
	text-align: left;
}

.woe-table {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #fff;
	border: 1px solid #ddd;
}

.woe-table th, .woe-table td {
	padding: 5px 10px;
}

.woe-table th {
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}

.woe-table td {
	font-size: 120%;
}

.woe-table .server {
	font-weight: bold;
}

.woe-table .time {
	font-style: italic;
	color: #333;
}

.script {
	width: 98%;
}

.multi-select {
	width: 100%;
}

.jump-to-page {
	margin-top: 8px;
	font-size: 8pt;
	text-align: center;
}

.jump-to-page input {
	padding: 2px;
	font-size: 8pt;
}

.top-ranked td {
	font-weight: bold;
	color: #000;
	background-color: #FFF8DC;
}

.top-ranked a {
	color: #000;
	border-bottom: 1px dotted #666;
}

.empty-row {
	display: none;
}

.item-drop-mvp td {
	color: #000;
	background-color: #F8F8FF;
}

.item-drop-card td {
	color: #000;
	background-color: #F0FFFF;
}

.mvp {
	font-size: xx-small;
	font-weight: bold;
	color: #ff0000;
	vertical-align: top;
}

.monster-mode {
	margin: 0;
	padding: 0;
	list-style: square inside;
}

.monster-mode li {
	padding: 1px;
	border-bottom: 1px dotted #eee;
}

.equipped td {
	background-color: #f1ffff;
}

.job-classes {
	border-spacing: 0;
}

.job-classes td {
	padding-right: 10px;
	border-right: 1px solid #eee;
}

.current-shop-category {
	font-weight: bold;
}

.normalslotted .equipped {
	color: #25292b;
}

.overslotted1 {
	color: #32cd32;
}

.overslotted2 {
	color: #00bfff;
}

.overslotted3 {
	color: #ffa500;
}

.overslotted4 {
	color: #9932cc;
}

.hold-hours {
	color: #ffba00;
	font-style: italic;
}

.screenshot {
	max-width: 100px;
	max-height: 100px;
}

.map_image {
	max-width: 100px;
	max-height: 100px;
}
.map_block {
	position:relative;
	width:512px;
	height:512px;
	display:flex;
	align-items:center;
	justify-content: center;	
}
.maps_list {
	min-width: 110px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}
.mobs_list {
	min-width: 160px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}
.mobs_list img {
	max-width: 150px;
	max-height: 100px;
}
.npcs_list {
	min-width: 160px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}
.npcs_list img {
	max-width: 150px;
	max-height: 100px;
}
.shops_list {
	min-width: 600px;
}
.shops_list ul {
	column-count: 4;
}
.shops_list li {
	list-style: none;
    padding: 0px 10px 10px 0;
	min-height: 32px;
}
.shops_list img {
    display: inline-block;
    padding-right: 5px;
}
.shops_list div {
	display: inline-block;
}
.shops_list span {
	border-bottom: dotted 1px grey;
}
.shops_list th {
	padding-top: 10px;
}
.shops_list th, .shops_list td {
	border-bottom: dotted 1px grey;
}
.points{
	position:absolute;
	border:3px double #ff00ff;
}
.points_npcs{
	z-index:9999;
	position:absolute;
	width:10px;
	height:10px;
	background-color: black;
	border:2px solid yellow;
	border-radius:20px;
	animation: pulse_yellow 1s infinite;
}
.map_hide{
	display:none;
}
.you_here{
	z-index:9999;
	position:absolute;
	width:9px;
	height:9px;
	background-color: #feff00;
    border: 3px solid #f1d088;
	border-radius:20px;
	animation: pulse_yellow 1s infinite;
}
.warps{
	margin: 5px;
	width:10px;
	height:10px;
	background-color: #ff0000;
	position:absolute;
	border-radius:20px;
	animation: pulse 4s infinite;
}
.warps:hover {
	cursor:pointer;
	animation: pulse 1s infinite;
	filter: invert(1);
}
.mob_resp {
    border: 1px solid #ff0000;
    animation: pulse_high 5s infinite;
    background: rgba(255, 0, 0, 0.6);
    border-radius: 5px;
	min-width: 10px;
    min-height: 10px;
}
.tab{
	padding:10px;
	border:1px solid #E1EAF3;
	display: inline-block;
	border-radius: 10px;
	cursor:pointer;
}
.tabs_un{
	height:500px;
}
.tab.active{
	background-color: #8EBCEB;
}
	
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
  }
  50% {
      -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
  }
  50% {
      -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
      box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
}
@-webkit-keyframes pulse_high {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 150, 0, 1);
  }
  50% {
      -webkit-box-shadow: 0 0 0 60px rgba(255, 150, 0, 0);
  }
}
@keyframes pulse_high {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 150, 0, 1);
    box-shadow: 0 0 0 0 rgba(255, 150, 0, 1);
  }
  50% {
      -moz-box-shadow: 0 0 0 15px rgba(255, 150, 0, 0);
      box-shadow: 0 0 0 10px rgba(255, 150, 0, 0);
  }
}
@-webkit-keyframes pulse_yellow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 0, 1);
  }
  50% {
      -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 0, 0);
  }
}
@keyframes pulse_yellow {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.1);
  }
  50% {
      -moz-box-shadow: 0 0 0 30px rgba(255, 255, 0, 0.6);
      box-shadow: 0 0 0 10px rgba(255, 255, 0, 0.6);
  }
}

/* Pareser module */
#parser_table{
	max-height: 200px;
	overflow: auto;
	border: 1px dotted #ddd;
	padding: 10px;
}
.units_parser form {
	display:inline;
}
